<div *ngIf="!usuarioEntrado">
    <h2>Acceso a la aplicación</h2>

    <!-- NOMBRE -->
    <label>Nombre</label><br>
    <input type="text"
           id="nombre"
           name="nombre"
           required
           minlength="4"
           [(ngModel)]="nombre"
           #nombreCtrl="ngModel">
    <br>

    <p *ngIf="nombreCtrl.invalid && nombreCtrl.touched">
        El nombre es obligatorio y debe tener al menos 4 caracteres
    </p>

    <!-- APELLIDOS -->
    <label>Apellidos</label><br>
    <input type="text"
           name="apellidos"
           required
           [(ngModel)]="apellidos"
           #apellidosCtrl="ngModel">
    <br>

    <p *ngIf="apellidosCtrl.invalid && apellidosCtrl.touched">
        Los apellidos son obligatorios
    </p>

    <br>

    <!-- BOTÓN -->
    <button (click)="entrar()"
            [disabled]="nombreCtrl.invalid || apellidosCtrl.invalid">
        Entrar
    </button>
</div>

<!-- ZONA LOGUEADO -->
<div *ngIf="usuarioEntrado">
    <h1>Bienvenido {{ nombre }} {{ apellidos }}</h1>


<h1>Crear nueva tarea</h1>
<form #formulario="ngForm">
    <label for="idUsuario">ID Usuario</label>
    <input type="text" name="idUsuario" [(ngModel)]="nuevaTarea.id">

    <label for="titulo">Titulo</label>
    <textarea name="titulo" id="" [(ngModel)]="nuevaTarea.title"></textarea>

    <button (click)="crearNuevaTarea()">Guardar</button>
</form>
</div>